@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303952;
  color: white;
  text-transform: capitalize;
  font-size: 12px;
  text-align: center;
}

header {
  padding: 2rem 0;
  width: 100%;
  font-size: 3rem;
  border-bottom: #1e2330 solid;
}

.card {
  background-color: #303952;
  font-size: 1rem;
  border: none;
}

.cart {
  font-size: 1rem;
}

@media screen and (max-width: 700px){
  header {
    font-size: 2rem;
  }
}
@media screen and (max-width: 460px){
  header {
    font-size: 1.5rem;
  }
}