@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303952;
  color: white;
  text-transform: capitalize;
  font-size: 12px;
  text-align: center;
}

header {
  padding: 2rem 0;
  width: 100%;
  font-size: 3rem;
  border-bottom: #1e2330 solid;
}

.card {
  background-color: #303952;
  font-size: 1rem;
  border: none;
}

.cart {
  font-size: 1rem;
  position: static;
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cart::-webkit-scrollbar {
    -webkit-appearance: none;
}

.cart::-webkit-scrollbar:vertical {
    width:10px;
}

.cart::-webkit-scrollbar:horizontal {
    height: 10px;
}

.cart::-webkit-scrollbar-thumb {
    background-color: #1e2330;
    border-radius: 20px;
    border: 2px solid rgba(145, 145, 145, 0.26);
}

.cart::-webkit-scrollbar-track {
    border-radius: 10px;  
}

@media screen and (max-width: 700px){
  header {
    font-size: 2rem;
  }
}
@media screen and (max-width: 460px){
  header {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px){
  .cart {
    position: fixed;
    width: inherit;
    padding-right: 40px;
  }
  .cart::-webkit-scrollbar {
    -webkit-appearance: none;
}

.cart::-webkit-scrollbar:vertical {
    width:10px;
}

.cart::-webkit-scrollbar:horizontal {
    height: 10px;
}

.cart::-webkit-scrollbar-thumb {
    background-color: #1e2330;
    border-radius: 20px;
    border: 2px solid rgba(145, 145, 145, 0.26);
}

.cart::-webkit-scrollbar-track {
    border-radius: 10px;  
}

}